{% extends 'base.html' %}

{% block title %}{{ context['title'] }}{% endblock %}

{% block back_ground_image %}
url({{ url_for('static', filename=blog_config['IMG_ABOUT']) }})
{% endblock %}

{% block site_heading %}
<div class="page-heading">
    <h1>{{ context['title1'] }}</h1>
    <span class="subheading">{{ context['title2'] }}</span>
</div>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ context['content'] | safe }}
        </div>
    </div>
</div>
{% endblock content %}
