{% extends 'base.html' %}

{% block title %}{{ context['title'] }}{% endblock %}

{% block back_ground_image %}
url({{ url_for('static', filename='img/about-bg.jpg') }})
{% endblock %}

{% block site_heading %}
<div class="page-heading">
    <h1>About Me</h1>
    <span class="subheading">This is what I do.</span>
</div>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ context['content'] | safe }}
        </div>
    </div>
</div>
{% endblock content %}
