{% extends 'base.html' %}

{% block title %}{{ context['title'] }}{% endblock %}

{% block back_ground_image %}
url({{ url_for('static', filename='img/home-bg.jpg') }})
{% endblock %}

{% block site_heading %}
<div class="site-heading">
    <h1>{{ blog_config['BLOG_TITLE_LINE_1'] }}</h1>
    <span class="subheading">{{ blog_config['BLOG_TITLE_LINE_2'] }}</span>
</div>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ url_for('main.post', slug=post['slug']) }}">
                    <h2 class="post-title">
                        {{ post['title1'] }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post['title2'] }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="{{ blog_config['POST_AUTHOR_LINK'] }}">{{ post['author'] }}</a>
                    on {{ post['created'].date().strftime("%A %d, %B %Y") }}</p>
            </div>
            <hr>
            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                {% if context['previous_page'] %}
                <a class="btn btn-secondary float-left" href="{{ url_for('main.home', page_id=context['previous_page']) }}">&larr; Previous</a>
                {% endif %}
                <a class="btn btn-secondary float-right" href="{{ url_for('main.home', page_id=context['next_page']) }}">Next &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}