{% extends 'base.html' %}

{% block title %}{{ context['title'] }}{% endblock %}

{% block back_ground_image %}
url({{ url_for('static', filename=blog_config['IMG_POST']) }})
{% endblock %}

{% block site_heading %}
<div class="post-heading">
    <h1>{{ context['post_title_1'] }}</h1>
    <h2 class="subheading">{{ context['post_title_2'] }}</h2>
    <span class="meta">Posted by <a href="#">{{ context['post_author'] }}</a> on {{ context['created'].date().strftime("%A %d, %B %Y") }}</span>
</div>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ context['content'] | safe }}
            </div>
        </div>
    </div>
</article>
{% endblock content %}