{% extends 'base.html' %}

{% block title %}{{ context['title'] }}{% endblock %}

{% block back_ground_image %}
url({{ url_for('static', filename='img/home-bg.jpg') }})
{% endblock %}

{% block site_heading %}
<div class="site-heading">
    <h1>{{ blog_config['BLOG_TITLE_LINE_1'] }}</h1>
    <span class="subheading">{{ blog_config['BLOG_TITLE_LINE_2'] }}</span>
</div>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Published</th>
                </tr>
                </thead>
                <tbody>
                {% for post in context['posts'] %}
                <tr>
                    <td>{{ post['key'] }}</td>
                    <td>{{ post['title1'] }}</td>
                    <td>{{ post['created'] }}</td>
                    <td>{{ post['updated'] }}</td>
                    <td>{{ post['published'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock content %}